__pycache__
.DS_Store
._.DS_Store
._*
*.sdf
examples/data
examples/embedding
examples
.ipynb_checkpoints
fragmentation/Inputs
fragmentation/Outputs
fragmentation/NCIVS
fragmentation/pdb_data
p2rank_2.3
tankbind/p2rank_2.3
tankbind/result
