__pycache__
.DS_Store
._.DS_Store
._*
*.sdf
*.pt
events.out.*
examples/data
examples/embedding
.ipynb_checkpoints
fragmentation/Inputs
fragmentation/Outputs
fragmentation/NCIVS
fragmentation/pdb_data
p2rank_2.3
tankbind
examples
Nouvelles
tankbind/p2rank_2.3
tankbind/result
tankbind_prototype/log/*
tankbind_prototype/tensorboard/*
tankbind_prototype/tensorboard-2
tankbind_prototype/tmp_tensorboard
tankbind_prototype/result
dataset-all
dataset_prototype
Nouvelles/datasetsgit
outputs
saved_models